<div class="jumbotron">
	<h1>Historia zamówień ({{ orders|length }})</h1>
	
	<div class="container" style="padding: 0px;">
		<div class="row" style="padding: 5px 0px 5px 0px;">
			<div class="col-lg">#</div>
			<div class="col-lg">Stan</div>
			<div class="col-lg">Czas złożenia</div>
			<div class="col-lg">Czas dostawy</div>
			<div class="col-lg">Wartość</div>
		</div>
		
		{% for order in orders %}
			<div class="row" style="padding: 5px 0px 5px 0px;">
				<div class="col-lg">{{ order.id }}</div>
				<div class="col-lg">{% if order.isAccepted == 1 %}Zrealizowano {% else %}Odrzucono{% endif %}</div>
				<div class="col-lg">{{ order.orderTime|date("d.m.Y H:i:s") }}</div>
				<div class="col-lg">{% if order.isAccepted == 1 %}{{ order.deliveryTime|date("d.m.Y H:i:s")}}{% else %} - {% endif %}</div>
				<div class="col-lg">{{ order.totalPrice }} PLN</div>
			</div>
		{% endfor %}
	</div>
</div>