<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Przegląd ofert</title>
		{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ asset('css/service.css') }}" />
		{% endblock %}
    </head>
    <body id="for_main_body">
		{% block javascripts %}
		<script src="{{ asset('js/jquery.min.js') }}"></script>

		<!-- Popper JS -->
		<script src="{{ asset('js/popper.min.js') }}"></script>

		<!-- Latest compiled JavaScript -->
		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
		
		<script src="{{ asset('js/fa-all.js') }}"></script>
		
		<script src="{{ asset('js/jquery.validate.js') }}"></script>
		
		<script src="{{ asset('js/service.js') }}"></script>
		{% endblock %}
		
        {% block body %}{% endblock %}
    </body>
</html>